<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Tagging App</title>
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
<link rel="manifest" href="/images/site.webmanifest" />
  <link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Comic+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div id="lobby-view">
        <h1>...Waiting for opponent</h1> 
        <a href="/game" target="_blank" title="Open a new tab to play against yourself for demo purposes" rel="noopener noreferrer" >Play Against Yourself (New Tab)</a>
    </div>
  <main id="game-view" style="display: none;">
      <div id="status-bar">
          <div id="playerStatus" ><div id="playerEffects" class="effectContainers"></div><span id="playerScore">0</span></div>
          <div id="timer-wrapper"><div id="timer">5:00</div></div>
          <div id="opponentStatus"><span id="opponentScore">0</span><div id="opponentEffects" class="effectContainers"></div></div>
      </div>
    <div id="puzzle-container">
        <img src="<%= puzzles[0] %>" draggable="false" id="currentPuzzle" alt="Tagging Photo">
    </div>
    <div id="puzzle-selection">
      <% puzzles.forEach(puzzle => { %> 
      <div class="puzzleSelect-container">
      <img src="<%= puzzle %>" alt="" draggable="false" class="puzzle">
      <div class="headshot-container">
        <% const newImages = ['/images/odlaw-head.png', '/images/whitebeard-head.png', '/images/wenda-head.png']; %>
        <% newImages.forEach(image => { %>
        <div class="headshot-wrapper">
        <img src="<%= image %>" alt="" draggable="false" class="headshot">
        <img src="/images/red-cross.png" alt="found" draggable="false" class="overlay" style="display: none; position: absolute;">
        </div>
        <% }) %>
      </div>
      </div>
      <% }) %>
        </div>
    </div>
<div id="game-over" class="game-over hidden">
    <div class="container">
  <h2 class="endGameStatus"></h2>
  <button class="home">Return Home</button>
    </div>
</div>
  </main>
  <script>
    window.PUZZLES = <%- JSON.stringify(puzzles) %>;
    window.PLAYER_ID = "<%= playerId %>";
    window.GAME_DURATION = <%= gameDuration %>;
  </script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
