<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Tagging App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="lobby-view">
        <h1>...Waiting for opponent</h1> 
    </div>
  <main id="game-view">
          <div id="timer" data-time-left="<%= initialTime %>"> Time Left: 5:00  </div>
  <div id="puzzle-container">
    <img src="<%= puzzles[0] %>" draggable="false" id="currentPuzzle" alt="Tagging Photo">
  </div>
  <div id="puzzle-selection">
      <% puzzles.forEach(puzzle => { %> 
      <img src="<%= puzzle %>" alt="" class="puzzle">
      <% }) %>
  </div>
  </main>
  <script>
    let puzzles = <%- JSON.stringify(puzzles) %>;
    let playerId = "<%= playerId %>";
  </script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
